%h1 how long and how many?

%form#centerthing{:action => 'action'}
  .row
    .label How Long?
    %input{:type => 'text', :name => 'length', :size => '10'}
  .row
    .label How Many?
    %input{:type => 'text', :name => 'number', :size => '10'}
  .row
    %input{:type => 'submit'}
