%h1 how long and how many?

%form{:action => 'action'}
  #length
    How Long?
    %input{:type => 'text', :name => 'length'}
  #number
    How Many?
    %input{:type => 'text', :name => 'number'}
  %input{:type => 'submit'}
